﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Advice 2 Me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Assets/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="~/Assets/js/script.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-1">
                <h3>Giriş Yap</h3>
                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                {
                    if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @TempData["Error"]
                        </div>
                    }
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email *" value="" required />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Şifre *" value="" required />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Giriş" />
                    </div>
                    <div class="form-group">
                        <a href="#" data-toggle="modal" data-target="#forgetPass" class="ForgetPwd">Şifremi Unuttum?</a>
                    </div>
                }
            </div>
            <div class="col-md-6 login-form-2">
                <h3>Kayıt Ol</h3>
                @using (Html.BeginForm("Register", "Home", FormMethod.Post))
                {
                    if (TempData["ErrorReg"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @TempData["ErrorReg"]
                        </div>
                    }
                    <div class="form-group">
                        <input type="text" name="email" class="form-control" placeholder="Email *" value="" required />
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Şifre *" value="" required />
                    </div>
                    <div class="form-group">
                        <input type="password" name="passwordConfirm" class="form-control" placeholder="Tekrar Şifre *" value="" required />
                    </div>
                    <div class="input-group mb-3">
                        <select class="custom-select" id="inputGroupSelect01" name="type">
                            <option selected value="0">Seçiniz...</option>
                            <option value="1">Danışan</option>
                            <option value="2">Danışman</option>
                        </select>
                    </div>
                    <div class="form-group custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="terms" id="defaultUnchecked" required>
                        <label class="custom-control-label" style="color: white" data-toggle="modal" data-target="#exampleModalLong" for="defaultUnchecked">Kullanım Şartlarını Okudum</label>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Kayıt Ol" />
                    </div>

                }
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Kullanım Şartları</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Türk Psikologlar Derneğinin Yönetmeliğine göre danışan ve danışman her türlü yenilik ve tarafların aralarındaki ilişki esnasında yazılı ya da sözlü yoldan öğrenecekleri tüm ticari, mali, teknik bilgiler, abonelik ve konuşma bilgileri gizli bilgi olarak kabul edilir. Danışan ve danışman ilişkilerinin gerektirdiği ölçüde gizli bilgilerini birbirlerine açıklamak durumundadırlar. Danışan ve danışman diğer tarafça kendisine açıklanan gizli bilgilerin eksik ya da hatalı olmasından sorumlu tutulamayacaklarını kabul ve taahhüt ederler. Danışan ve danışman kendilerine diğer tarafça açıklanan bu gizli bilgiyi; Büyük bir gizlilik içinde korumayı, herhangi bir üçüncü kişiye hangi suretle olursa olsun vermemeyi ve/veya alenileştirmemeyi,  doğrudan ya da dolaylı olarak aralarındaki ticari ilişkinin amaçları dışında kullanmamayı taahhüt ederler. Danışan ve danışman kendi gizli bilgilerini korumakta gösterdikleri özenin aynısını karşı tarafın gizli bilgilerini korumakta da göstermeyi kabul ve taahhüt ederler. Danışan ve danışman ancak zorunlu hallerde ve işi gereği bu bilgiyi, öğrenmesi gereken işçilerine, alt çalışanlarına ve kendilerine bağlı olarak çalışan diğer kişilere verebilirler ancak bilginin gizliliği hususunda işçilerini, alt çalışanlarını ve kendilerine bağlı olarak çalışan diğer kişileri uyarırlar. Danışan ve danışman işçilerinin, alt çalışanlarının ve kendilerine bağlı olarak çalışan diğer kişilerin işbu sözleşme yükümlülüklerine aykırı davranmayacaklarını ve böyle davranmaları halinde doğrudan sorumlu olacaklarını peşinen kabul ve taahhüt ederler. Yürürlükte olan kanun ya da düzenlemeler ya da verilmiş olan bir mahkeme kararı, idari emir gereğince açıklanması gereken bilgiler gizli bilgi tanımına girmez. Danışan ve danışman kendilerine ilişkin gizli bilgiler üzerinde münhasıran hak sahibidirler. Danışan ve danışman sorumlu olduğu kişilerce diğer tarafa ait gizli bilgilerin sözleşmeye aykırı biçimde açıklandığından haberdar olduğunda, derhal ve yazılı olarak karşı tarafa durumu bildirmekle yükümlüdür. Gizli bilgiler içeren her türlü materyal, danışan ve danışman arasındaki ticari ilişkinin ya da iş bu gizlilik sözleşmesinin sona ermesi halinde ve karşı tarafın yazılı ihtarı üzerine, derhal bu bilgilerin ait olduğu tarafa iade edilir. Danışan ve danışman diğerinin yazılı izni olmaksızın kanunda açıkça belirtilen haller dışında bu bilgiyi üçüncü kişilere aktaramaz herhangi bir şekilde ya da herhangi bir yolla dağıtamaz, basın yayın organları ve medya kuruluşları vasıtasıyla açıklayamaz, reklam amacıyla kullanamaz. Danışan ve danışman arasındaki  ilişki sona erse dahi işbu sözleşmedeki gizlilik yükümlülükleri geçerli olmaya devam edecektir. Bu sözleşme ya da buradaki herhangi bir hak tamamen ya da kısmen devredilemez.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="forgetPass" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Şifremi Unuttum</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @using (Html.BeginForm("sendPassword", "Home", FormMethod.Post))
                {
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" class="form-control" name="email" placeholder="Email *" value="" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                        <button type="submit" class="btn btn-primary">Email Gönder</button>
                    </div>
                }
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
