﻿@model IEnumerable<Advice2.me.Models.Profile>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div style="margin:20px;">
    <table id="myTable" class="table table-striped">
        <thead>
            <tr>
                <th>Adı</th>
                <th>Soyadı</th>
                <th>Email</th>
                <th>Telefon</th>
                <th>Yapılacak İşlem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.name</td>
                    <td>@user.surname</td>
                    <td>@user.email</td>
                    <td>@user.phone</td>
                    <td style="text-align:center;">
                        <div id="btnwrap">
                            @if (user.isActive)
                            {
                                <button type="button" class="btn btn-sm btn-warning tableButton" userId="@user.userId" style="width:100%">Engelle</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-sm btn-warning tableButton" userId="@user.userId" style="width:100%">Engelli Aç</button>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



