﻿@model IEnumerable<Advice2.me.Models.concact_us>
@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin:20px;">
    <table id="myTable" class="table table-striped">
        <thead>
            <tr>
                <th>İsim Soyisim</th>
                <th>Email</th>
                <th>Mesaj</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in Model)
            {
                <tr>
                    <td>@contact.contactNameSurname</td>
                    <td>@contact.contactEmail</td>
                    <td>@contact.contactContent</td>
                </tr>
            }
        </tbody>
    </table>
</div>

