﻿
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="row d-flex justify-content-center ">

    <div class="col-md-5 login-container border-blue">
        <div class="card-body text-align-middle">
            <h5 class="card-title">Biz Kimiz</h5>
            <p class="card-text">Berna TAŞEL 15011049 bernataselbal@gmail.com</p>
            <p class="card-text">Ömer Faruk KAYA 15011084 omerf.kaya97@gmail.com</p>
            <p class="card-text">Emre ÇELİK 15011902 emrecelikk97@gmail.com</p>
        </div>
    </div>
</div>

