﻿@model IEnumerable<Advice2.me.Models.Budget>
@{
    ViewBag.Title = "Budget";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<main role="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xl-12">
                <span>Toplam Miktar : @ViewBag.Total ₺</span>
            </div>
        </div>
    </div>

    <h2>Hareketler</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Bilgi</th>
                    <th>Miktar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Budget in Model)
                {
                    <tr>
                        <td>@Budget.name ile görüşme</td>
                        <td>@Budget.amount ₺</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</main>

