﻿
@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
    if (ViewBag.Anon != "1")
    {
        ViewBag.Anon = "0";
    }
    var a = "https://appr.tc/r/advice2me" + ViewBag.Conversation;
}

<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        <div class="col-md-12 col-xl-12 chat">
            <div class="card card2">
                <div class="card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            @if (ViewBag.Anon == "1")
                            {
                                <img src="/Panel/Show?userId=0" class="rounded-circle user_img">
                            }
                            else
                            {
                                <img src="/Panel/Show?userId=@ViewBag.Reciever" class="rounded-circle user_img">
                            }
                        </div>
                        <div class="user_info">
                            <span>@ViewBag.ChatterName</span>
                        </div>
                        <div class="video_cam">
                            <span><i class="fas fa-video" data-toggle="modal" data-target="#camera"></i></span>
                            @if (ViewBag.Anon != "1")
                            {
                                <span><i class="fas fa-phone call" callPhone="@ViewBag.Phone"></i></span>
                            }
                        </div>
                        @if (ViewBag.Consultant != "1")
                        {
                            <div class="user_info endChat">
                                <a href="#" data-toggle="modal" data-target="#myModal">Görüşmeyi Sonlandır</a>
                            </div>
                        }
                    </div>
                </div>
                <div class="card-body msg_card_body">
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <div class="input-group-append">

                        </div>
                        <textarea name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
                        <div class="input-group-append">
                            <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="camera" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content" style="width: 200%;margin-left: -50%;">

            <div class="modal-body" style="height:600px">
                <iframe id="lel" src="@a" style="width:100%; height:100%"></iframe>

            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>

@if (ViewBag.Consultant != "1")
{
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Görüşme Bitmeden Önce..</h3>
                </div>
                <div class="modal-body">
                    <div id="message" style="text-align: center; color: green;"></div>


                    <div class="form-group">

                        <h5>Görüşmenizi Puanlar Mısınız ?</h5>
                        <div style="display:inline-block;" id="rateYo"></div>

                        <input type="hidden" name="rating" id="rating_input" />

                    </div>


                    <br />

                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
}
<script>
    // card classına sahip dom elementlerinin yüksekliğini ekran yüksekliğinin 100px küçüğüne set edilir.
    $(".card").css("height", $(window).height() - 100);
    // end chat classına sahip dom elementlerinin soldan margin değerini ekran genişliğinin 650 px küçüğüne set eder.
    $(".endChat").css("margin-left", $(window).width() - 650);

    // Kullanıcı görüşme sonlandırdıktan sonra danışmana verdiği oyu veritabanına kaydedecek fonksiyona gönderir.
    $(function () {

        $("#rateYo").rateYo({

            onSet: function (rating, rateYoInstance) {
                rating = Math.ceil(rating);
                $('#rating_input').val(rating);//setting up rating value to hidden field
                $.connection.hub.start()
                    .done(function () {
                        $.connection.chatHub.server.rateConversation(@ViewBag.Conversation, @ViewBag.UserId, rating);
                        location.reload();
                    })
                    .fail(function () { });
            }
        });
    });

    // Hub'a bir başlatma sinyali yollar.
    $.connection.hub.start()
        .done(function () {
        })
        .fail(function () { });
    // Hub'a veritabanında olan tüm chate dair mesajları almak istediğine dair istek yollar.
    $(document).ready(function () {
        $.connection.hub.start()
            .done(function () {
                $.connection.chatHub.server.getMessages(@ViewBag.Conversation, @ViewBag.UserId);
            })
            .fail(function () { });
    });

    // Hub'dan gelen mesajların uygun DOM elementlerinin içine yazılmasını sağlar.
    $.connection.chatHub.client.getMessages = function (msgs, msgCount) {
        var anon = @ViewBag.Anon;
        for (var i = 0; i < msgCount; i++) {
            if (msgs[i][0] == @ViewBag.UserId) {
                document.getElementsByClassName("msg_card_body")[0].insertAdjacentHTML('beforeend', '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' + msgs[i][1] + '<span class="msg_time_send">' + msgs[i][2] + '</span></div><div class="img_cont_msg"><img src="/Panel/Show?userId=@ViewBag.UserId" class="rounded-circle user_img_msg"></div></div>');
            }
            else {
                if (anon == "1")
                {
                    document.getElementsByClassName("msg_card_body")[0].insertAdjacentHTML('beforeend', '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="/Panel/Show?userId=0" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + msgs[i][1] + '<span class="msg_time">' + msgs[i][2] + '</span></div></div>');
                }
                else
                {
                    document.getElementsByClassName("msg_card_body")[0].insertAdjacentHTML('beforeend', '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="/Panel/Show?userId=@ViewBag.Reciever" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + msgs[i][1] + '<span class="msg_time">' + msgs[i][2] + '</span></div></div>');
                }
            }
        }
        rollToDown();
    }

    // Hub'dan gelen yeni bir mesaj var isteğine karşı yeni mesajı almak istediğine dair istek yollar.
    $.connection.chatHub.client.newMessage = function (conversationId) {
        if (conversationId == @ViewBag.Conversation) {
            $.connection.hub.start()
                .done(function () {
                    $.connection.chatHub.server.getMessage(@ViewBag.Conversation, @ViewBag.UserId);
                })
                .fail(function () { });
        }
    };

    // Hub'dan gelen yeni mesajın uygun DOM elementlerinin içine yazılmasını sağlar.
    $.connection.chatHub.client.getMessage = function (msg) {
        var anon = @ViewBag.Anon;
        if (msg[0] == @ViewBag.UserId) {
            document.getElementsByClassName("msg_card_body")[0].insertAdjacentHTML('beforeend', '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' + msg[1] + '<span class="msg_time_send">' + msg[2] + '</span></div><div class="img_cont_msg"><img src="/Panel/Show?userId=@ViewBag.UserId" class="rounded-circle user_img_msg"></div></div>');
        }
        else {
            if (anon == "1")
            {
                document.getElementsByClassName("msg_card_body")[0].insertAdjacentHTML('beforeend', '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="/Panel/Show?userId=0" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + msg[1] + '<span class="msg_time">' + msg[2] + '</span></div></div>');
            }
            else
            {
                document.getElementsByClassName("msg_card_body")[0].insertAdjacentHTML('beforeend', '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="/Panel/Show?userId=@ViewBag.Reciever" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + msg[1] + '<span class="msg_time">' + msg[2] + '</span></div></div>');
            }
        }
        rollToDown();
    }

    // Mesaj gönderme tuşuna basıldığında ilgili mesajı Hub'a yollar
    $(".send_btn").click(function () {
        $.connection.hub.start()
            .done(function () {
                $.connection.chatHub.server.sendMessage(@ViewBag.Conversation, @ViewBag.UserId, $(".type_msg")[0].value);
                $(".type_msg")[0].value = "";
            })
            .fail(function () { });
    });

    // msg_card_body classına sahip elemanların scroll barlarının en aşağıya indirilmesini sağlar.
    var rollToDown = function () {
        $(".msg_card_body").each(function () {
            this.scrollTo(0, this.scrollHeight);
        });
    }
    // Arama yapılmasını sağlar
        $(".call").click(function () {

            window.location.href = "tel://" + this.getAttribute("callPhone");
    });
</script>