﻿
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="row d-flex justify-content-center ">
    <div class="col-md-5 login-container border-blue">
        <div class="card-body text-align-middle">
            @using (Html.BeginForm("ContactUsSend", "Panel", FormMethod.Post))
            {
                if (TempData["Error"] != null)
                {
                    <div class="alert alert-info alert-dismissable">
                        <a class="panel-close close" data-dismiss="alert">×</a>
                        <i class="fa fa-coffee"></i>
                        @TempData["Error"]
                    </div>
                }
                <h5>Bize Ulaşın</h5>
                <div class="form-group">
                    <input type="text" class="form-control" name="nameSurname" required placeholder="İsim Soyisim" value="" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="email" required placeholder="Email" value="" />
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" required name="content" placeholder="Mesaj" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Gönder</button>
                </div>
            }
        </div>
    </div>
</div>

