﻿@model IEnumerable<Advice2.me.Models.ConsultantList>
@{
    ViewBag.Title = "Danışmanları/Psikologları Listele";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<!--nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Puanına Göre</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Ara" aria-label="Search">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Ara</button>
    </form>
</nav-->
<div style="margin:20px;">
    <table id="myTable" class="table table-striped">
        <thead>
            <tr>
                <th>Resim</th>
                <th>Adı Soyadı</th>
                <th>Uzmanlık Alanı</th>
                <th>Fiyatı ₺</th>
                <th>Puanı</th>
                <th>Görüşmeyi Başlat</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
            <tr>
                <td><img class="bd-placeholder-img card-img-top" src="/Panel/Show?userId=@user.consultantId" style="width:100px" ></td>
                <td style="line-height:90px">@user.consultantName</td>
                <td style="line-height:90px">@user.consultantExpertness</td>
                <td style="line-height:90px">@user.consultantPrice</td>
                <td style="line-height:90px">@user.consultantRate</td>
                <td style="text-align:center;">
                    <div id="btnwrap">
                        <button type="button" class="btn btn-sm btn-warning tableButton toChat" userId="@user.consultantId" style="width:100%; height:100px">Görüşmeyi başlat</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mesajlaşmaya Başlamadan Önce..</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bilgilerinizi Danışmanın Görmesini Onaylıyor Musunuz ?
            </div>
            <div class="modal-footer">
                <button type="button" id="startW" class="btn btn-primary">Onayla</button>
                <button type="button" id="startWO" class="btn btn-light">Onaylama</button>
            </div>
        </div>
    </div>
</div>

<script>
    var consultantId = 0;
    $(".album").css("height", $(window).height() - 130);
    $(".toChat").click(function () {
        consultantId = this.getAttribute("userId");
        $("#exampleModal").modal('show');
    });
    $("#startWO").click(function () {
        document.location = "/Panel/startNewChat?consultantId=" + consultantId + "&type=2";
    });
    $("#startW").click(function () {
        document.location = "/Panel/startNewChat?consultantId=" + consultantId + "&type=1";
    });
</script>