﻿@model IEnumerable<Advice2.me.Models.Messages>
@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="max-width">
    @foreach (Advice2.me.Models.Messages msg in Model)
    {
        <a href="/panel/chat?conserId=@msg.chatId" class="max-width person-msg" style="text-decoration:none; height: 20%">
            <img class="profile" src="/Panel/Show?userId=@msg.consultantId" alt="Simply Easy Learning" width="100" height="100" style="float:left;">
            <p class="NameSurnameCSS">@msg.nameSurname</p>
            <p class="DateCSS">@msg.lastMessageTime</p>
            <p class="TitleCSS">@msg.expertness</p>

            <p class="LastMessageCSS">@msg.lastMessage</p>
            <hr>
        </a>
    }
</div>
