﻿@model Advice2.me.Models.Profile
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
    List<Advice2.me.Models.expertness_types> expertness_Types = (List<Advice2.me.Models.expertness_types>)ViewBag.ExpertnessTypes;
}

<div class="container">
    <h1>Profili Düzenle</h1>
    <hr>
    <div class="row">
        <!-- Sol Taraf -->
        <div class="col-md-3">
            <div class="text-center avatarArea">
                <div class="alert alert-info alert-dismissable resimOK" style="display:none">
                    <i class="fa fa-coffee"></i>
                    Fotoğraf başarı ile güncellendi.
                </div>
                <img src="/Panel/Show?userId=@Session["userId"]" class="avatar img-circle" alt="avatar" />
                <h7 class="changePhoto">Yeni Resim Yükle</h7>
            </div>
            <input type="file" id="imageUploadForm" name="image" style="display:none;"/>
        </div>

        <!-- Alert Mesajı -->
        <div class="col-md-9 personal-info">
            @if (TempData["Error"] != null)
            {
                <div class="alert alert-info alert-dismissable">
                    <a class="panel-close close" data-dismiss="alert">×</a>
                    <i class="fa fa-coffee"></i>
                    @TempData["Error"]
                </div>
            }
            @using (Html.BeginForm("ProfileUpdater", "Panel", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <h3>Kişisel Bilgiler</h3>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Ad:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" name="name" value="@Model.name" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Soyad:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" name="surname" value="@Model.surname" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">TC:</label>
                    <div class="col-lg-8">
                        <input class="form-control" name="TC" id="TC" value="@Model.TC" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Doğum Tarihi:</label>
                    <div class="col-lg-8">
                        <input class="form-control" name="bornDate" value="@Model.bornDate" type="date">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Cinsiyet:</label>
                    <div class="col-lg-8">
                        <div class="ui-select">
                            <select id="user_time_zone" name="sex" class="form-control">
                                @if (Model.sex == true)
                                {
                                    <option value="1" selected>Erkek</option>
                                    <option value="0">Kadın</option>
                                }
                                @if ((Model.sex) == false)
                                {
                                    <option value="1">Erkek</option>
                                    <option value="0" selected>Kadın</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Şifre:</label>
                    <div class="col-md-8">
                        <input class="form-control" name="password" type="password" value="@Model.password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Şifreyi Tekrarlayın:</label>
                    <div class="col-md-8">
                        <input class="form-control" name="rePassword" type="password" value="@Model.password">
                    </div>
                </div>
                <h3>İletişim Bilgileri</h3>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" name="email" value="@Model.email" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Cep Telefonu:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" name="phone" value="@Model.phone" placeholder="05xx xxx xx xx">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Adres:</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="inputAddress" name="adress" value="@Model.address" placeholder="Davutpaşa Mah. Esenler / İstanbul">
                    </div>
                </div>
                if (Model.userType == 2)
                {
                    <h3>Uzmanlık Bilgileri</h3>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Diploma No:</label>
                        <div class="col-lg-8">
                            <input class="form-control" name="diplomaNo" value="@Model.diplomaNo" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Mezun Olunan Okul:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" name="school" value="@Model.school">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Mezun Olunan Bölüm:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" name="department" value="@Model.department">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Uzmanlık Alanları:</label>
                        <div class="col-lg-8">
                            <select id="user_time_zone" class="form-control" name="expertnessTypeId">
                                @foreach (var type in expertness_Types)
                                {
                                    if (Model.expertnessType == type.expertnessTypeId)
                                    {
                                        <option value="@type.expertnessTypeId" selected>@type.expertnessTypeName</option>
                                    }
                                    else
                                    {
                                        <option value="@type.expertnessTypeId">@type.expertnessTypeName</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <h3>Banka Bilgisi</h3>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">IBAN:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" name="IBAN" value="@Model.IBAN">
                        </div>
                    </div>
                    <h3>Ücret Bilgisi</h3>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Seans Ücreti:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" id="price" name="price" value="@Model.price">
                        </div>
                    </div>
                }
                <div class="form-group" style="padding-bottom: 70px">
                    <div class="col-md-8">
                        <input type="submit" style="transform: unset" class="btn btn-primary" value="Kaydet">
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>

    // Resmin üzerine tıklandığında resim yükleme ekranının açılmasını sağlar
    $(".avatarArea").click(function () {
        $("input[id='imageUploadForm']").click();
    });
    // Seçilen resmin database'e yüklenmesini sağlar
    $(document).ready(function () {
        $("#imageUploadForm").change(function () {
            var formData = new FormData();
            var totalFiles = document.getElementById("imageUploadForm").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("imageUploadForm").files[i];
                formData.append("imageUploadForm", file);
            }
            $.ajax({
                type: "POST",
                url: '/Panel/PictureUpdate',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function () { $(".resimOK").css("display", "block"); }
            });
        });
    });

    // Input alanlarına filtre uygulanmasını sağlayan fonksiyon.
    function setInputFilter(textbox, inputFilter) {
        ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function (event) {
            textbox.addEventListener(event, function () {
                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                }
            });
        });
    }


    // idsi tc olan input alanının numeric olmasını ve 11 haneden küçük ve eşit olmasını sağlayan fonksiyon.
    setInputFilter(document.getElementById("TC"), function (value) {
        return /^\d*$/.test(value) && (value === "" || parseInt(value) <= 99999999999);
    });
    // idsi price olan input alanının numeric ve 0dan büyük olmasını sağlayan fonksiyon.

    setInputFilter(document.getElementById("price"), function (value) {
        return /^\d*$/.test(value) && (value === "" || parseInt(value) > 0);
    });
    // type ı date olan input alanına tarih formatında veri girilmesini sağlar.
    jQuery('input[type="date"]')
        .each(function () {
            Object.defineProperty(this, 'value', {
                get: function () {
                    return myFormatDateFunction(this.valueAsDate, 'dd.mm.yyyy');
                },
                configurable: true,
                enumerable: true
            });
        });  
</script>